<!-- 4th panel is putting products in wrong category-->
{% extends "base.html" %}

{% block header_content %}
<div class="subscription-v2">
<section class="banner-landscape centered landscape-1 landing-page-banner" style="background-image: url('{{'images/black-friday-banner.jpg' | asset_url }}')" data-barley="bg-img-black-friday" data-barley-editor="bgimage">
 <div class="content text-invert" style='width:90%;'>
  <div data-barley="black-friday-header" data-barley-editor="advanced">
   <hgroup>
    <h1 class="heading col-xs-6">
     LIMITED<br>
     HOLIDAY OFFER
    </h1>
    <div class="savings-right-col col-xs-6 heading-left-align">
      <div class="heading-product-name">The Quarterly Soapscription</div>
      <span class="heading-first-months">Your First 3 Months</span>
      <br>
      <span class="now-only">NOW ONLY</span>
      <span class="now-price">$25</span>
    </div>
   </hgroup>
  </div>
 </div>
 <img class="free-shipping-badge" src="{{ 'images/free-shipping-badge.png' | asset_url }}">
</section>
{% endblock %}


{% block page_content %}
<!--
Add Links
Move CSS to actual css file
Make buttons work
Link product titles
Metadata
Change column images to be background images
-->
{% include 'holidays/holiday-styles.html' %}

<div class="landing-page-row row">
  <div class="container">
    <div class="lp-row-column col-xs-12 col-md-6 col-md-push-6">
      <div class="lp-row-main-img"  style="background-image:url('{{ 'images/lp-QuarterlySoapscription.jpg' | asset_url }}')" data-barley="bg-img-quarterly-soapscription" data-barley-editor="bgimage"></div>
    </div>

    <div class="lp-row-column col-xs-12 col-md-6 col-md-pull-6">
      <div class="lp-row-text-container">
        <div class="lp-row-header">
          <span>QUARTERLY SOAPSCRIPTION</span>
        </div>
        <div class="lp-row-content">
          For a Limited Time Get Your First 3-Months for only
          $25 <span class="plus-colored">+</span> Free Shipping on All Squatch Orders
        </div>
        <div class="lp-row-prices">
          <div class="old-price">$36</div>
          <div class="after-savings-price">$25</div>
        </div>
        <div class="lp-row-discount-code-container">
          <span>USE CODE AT CHECK OUT - </span>
          <span class="lp-row-code">SUB25</span>
        </div>
        <div class="lp-row-button-container">
          <a class="btn btn-secondary btn-frame btn-md" href="#accordion"><i class="icon footprint"></i> SOAPSCRIBE</a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End landing page row -->
  
<div class="other-benefits-row row">
  <div class="other-benefits-container container">
    <div class="other-benefits-header">
      CHECK OUT SOME OF THE OTHER BENEFITS OUR QUARTERLY SOAPSCRIBERS RECEIVE:
    </div>
    <div class="benefit-item col-md-3 col-xs-6">
      <div class="benefit-icon-container">
      	<div><img class="media-object" src="{{ 'images/save-money-icon.png' | asset_url }}" alt=""></div>
      </div>
      <strong>SAVE MONEY</strong>
      <span>For the savvy Squatcher, you save $1 on every bar.</span>
    </div>
    <div class="benefit-item col-md-3 col-xs-6">
      <div class="benefit-icon-container">
      	<div><img class="media-object" src="{{ 'images/free-shipping-icon.png' | asset_url }}" alt=""></div>
      </div>
      <strong>FREE SHIPPING</strong>
      <span>All Squatch website orders shipped to your door for free.</span>
    </div>
    <div class="benefit-item col-md-3 col-xs-6">
      <div class="benefit-icon-container">
	    <div><img class="media-object" src="{{ 'images/thumbs-up-icon.png' | asset_url }}" alt=""></div>
      </div>
      <strong>CUSTOMIZE ORDER</strong>
      <span>Find your sent or stock up on your favorite.<br>It's up to you.</span>
    </div>
    <div class="benefit-item col-md-3 col-xs-6">
      <div class="benefit-icon-container">
        <div><img class="media-object" src="{{ 'images/star-icon.png' | asset_url }}" alt=""></div>
      </div>
      <strong>STAY FRESH</strong>
      <span>Never run out of soap and never settle for anything less than greatness.</span>
    </div>
  </div>
</div>

  
<div class="landing-page-row row lp-banner-row">
  <div class="container">
	<div class="lp-row-badge lp-row-orange-banner">
      <em>SOAPSCRIBE FOR ONLY $25</em>
    </div>
	<div class="lp-row-column col-xs-12 col-md-6">
      <div class="lp-row-text-container">
        <img src="{{ 'images/six-bars.png' | asset_url }}" alt="">
        <p class="below-banner-label">6 BARS</p>
        <div class="lp-row-prices below-banner-subtext">
          <div class="old-price">$36</div>
          <div class="after-savings-price">$25</div>
        </div>
      </div>
    </div>
	<div class="lp-row-column col-xs-12 col-md-6">
      <div class="lp-row-text-container">
        <img src="{{ 'images/sub-quarterly.png' | asset_url }}" alt="">
        <p class="below-banner-label">SHIPPED QUARTERLY</p>
        <div class="below-banner-subtext">
          FREE SHIPPING
        </div>
      </div>
    </div>
  </div>
</div>

{# STEP 1 - SELECT PRODUCT #}
<div class="panel-group hpad pholder" id="accordion" role="tablist" aria-multiselectable="true">
 <section class="panel substep">
  <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
   <span class="number">
    1
   </span>
   <h1 class="panel-title" data-barley="subscription-step1-header" data-barley-editor="simple">
    How many bars per month?
   </h1>
  </div>
  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
   <div class="panel-body">
    <section class="squatch-collection">
     <h4 class="h-section" data-barley="sub-step-1-sub-heading" data-barley-editor="simple">
      on average a bar lasts about two weeks
     </h4>
     <div class="row product-template-holder">
     </div>
    </section>
   </div>
   <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
     <a href="#collapseTwo" role="tab" class="btn btn-success btn-frame btn-md fullsize subscribe_btn btn-subscription-choose-plan" data-toggle="collapse" data-parent="#accordion" aria-controls="collapseTwo">
      <i class="icon footprint">
      </i>
      Next >
     </a>
    </div>
   </div>
  </div>
 </section>
 {# STEP 2 - SELECT TERM #}
 <section class="panel substep">
  <div class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
   <span class="number">
    2
   </span>
   <h1 class="panel-title" data-barley="subscription-step2-header" data-barley-editor="simple">
    How often should we ship?
   </h1>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
   <div class="panel-body">
    <section class="squatch-collection">
     <h4 class="h-section" data-barley="sub-step-2-sub-heading" data-barley-editor="simple">
      Free Shipping
     </h4>
     <div class="row term-template-holder">
     </div>
    </section>
   </div>
   <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
     <a href="#collapseThree" role="tab" class="btn btn-success btn-frame btn-md fullsize subscribe_btn btn-subscription-choose-term" data-toggle="collapse" data-parent="#accordion" aria-controls="collapseThree">
      <i class="icon footprint">
      </i>
      Next >
     </a>
    </div>
   </div>
  </div>
 </section>
 {# STEP 3 - SELECT SCENTS #}
 <section class="panel substep">
  <div class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-controls="collapseThree">
   <span class="number">
    3
   </span>
   <h1 class="panel-title" data-barley="subscription-step3-header" data-barley-editor="simple">
    What scents should we send?
   </h1>
  </div>
  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
   <div class="panel-body">
    <div class="row">
     <div class="col-md-7 col-sm-6 scents">
      <div class="h-section">
       <h4 class="heading" data-barley="sub-step-3-sub-heading" data-barley-editor="simple">
        choose your scents
       </h4>
      </div>
      {# STEP 3A - AVAILABLE SCENTS #}
      <div class="content scent-template-holder">
      </div>
     </div>
     <div class="col-md-5 col-sm-6 scents chosen-scents">
      <div class="h-section">
       <h4 class="heading" data-barley="sub-step-4-sub-heading" data-barley-editor="simple">
        your shipment <span class="scents-quantity"></span>
       </h4>
      </div>
      <div class="selected">
       {# STEP 3B - CHOSEN SCENTS #}
       <div class="chosen-scent-template-holder"></div>
       <div class="chosen-scent-placeholder"></div>
      </div>
     </div>
    </div>
   </div>
   <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
    	<div class="select_msg hidden-xs" id="select_msg"></div>
      	<!-- href="#collapseFour" -->
     <a id="collapseFour_btn" href="#collapseFour" role="tab" class="btn btn-success btn-frame btn-md fullsize subscribe_btn btn-subscription-choose-scent" data-toggle="collapse" data-parent="#accordion" aria-controls="collapseFour">
      <i class="icon footprint">
      </i>
      Next >
     </a>
    </div>
   </div>
  </div>
 </section>
 {# STEP 4 - SELECT ADDONS #}
 <section class="panel substep">
  <div class="panel-heading collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
   <span class="number">
    4
   </span>
   <h1 class="panel-title" data-barley="subscription-step4-header" data-barley-editor="simple">
    What Add-Ons would you like?
   </h1>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
   <div class="panel-body">
    <section class="squatch-collection">
     <h4 class="h-section barley_hide_outline" data-barley="sub-step-5-sub-heading" data-barley-editor="simple" contenteditable="false">
      Add some goodies, only sent with your first shipment
     </h4>
     <div class="row addon-template-holder">
       <div class="addon-category addon-most-polular">
         <h2>Most Popular</h2>
       </div>
       <!--<div class="addon-category addon-hair">
         <h2>Hair Care</h2>
       </div>-->
       <!--<div class="addon-category addon-cologne">
         <h2>Cologne</h2>
       </div>-->
       <!--<div class="addon-category addon-shave">
         <h2>Shave</h2>
       </div> -->
     </div>
    </section>
   </div>
   <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
     <div class="select_msg" id="select_msg_checkout"></div>
     <a href="#" data-redirect="/ac/SUB25" class="btn btn-success btn-frame btn-md fullsize submit-subscription btn-subscription-choose-addon-finish">
      <i class="icon footprint">
      </i>
      Finish
     </a>
    </div>
   </div>
  </div>
 </section>
</div>
</div>

{# ITEM TEMPLATE FOR STEP 1 - PRODUCTS #}
<script type="text/template" id="product_template">
 <section class="b-product col-sm-4 col-xs-12">
    <figure><%= image %></figure>
    <hgroup>
      <h3 class="heading"><%= name %><span class="hlight"><%= price %></span></h3>
      <h4 class="p-title"><%= description %></h4>
    </hgroup>
	
    <a href="#" class="btn btn-default btn-frame btn-md btn-product-select <%= selected == true ? "btn-subscription-selected": "" %>">
        <i class="icon footprint"></i> 
    	<%= selected == true ? "Selected" : "Select" %>
  	</a>
  </section>
</script>
{# END ITEM TEMPLATE STEP 1 #}

{# ITEM TEMPLATE FOR STEP 2 - TERMS #}
<script type="text/template" id="term_template">
 <section class="b-product col-sm-6 col-xs-12">
    <figure><%= image %></figure>
    <hgroup>
      <h3 class="heading"><%= name %></h3>
      <h4 class="p-title"><%= description%></h4>
      <input type='hidden' value="<%= term_type %>" class='term_type' />
    </hgroup>
    <a href="#" class="btn btn-default btn-frame btn-md btn-term-select <%= selected == true ? "btn-subscription-selected": "" %>">
    	<i class="icon footprint"></i>
    	<%= selected == true ? "Selected" : "Select" %>
    </a>
  </section>
</script>
{# END ITEM TEMPLATE STEP 2 #}

{# ITEM TEMPLATE FOR STEP 3A - AVAILABLE SCENTS #}
<script type="text/template" id="scent_template">

 <section class="col-md-4 col-xs-12 box-counter out_of_stock_<%= outofstock %>_<%= outofstock_purchase %>">
    <figure>
    	<%= image %>
 		<div class="scent-description">
        	<div class="info"><%= name == "Squatch Picks" ? "Dr. Squatch picks a scent for you!" : description %></div>
        </div>
  	</figure>
    <div class="product-content-wrapper">
      <h3 class="heading center-text"><%= name %></h3>
      <div class="control-counter framed center-align">
        <a href="#" class="qty-down vless click_number"><i class="fa fa-minus"></i></a>
        <span class="count"><%= qty %></span>
        <a href="#" class="qty-up vmore click_number"><i class="fa fa-plus"></i></a>
      </div>
      <input type='hidden' class='scent_id' value='<%= id %>' />
    </div>
  </section>
</script>
{# END ITEM TEMPLATE STEP 3A #}

{# ITEM TEMPLATE FOR STEP 3B - CHOSEN SCENTS #}
<script type="text/template" id="chosen_scent_template">
 <section class="col-lg-4 col-sm-5 box-counter number_of_box">
    <figure>
	  <div class="remove">x</div>
      <% if (qty > 1) { %>
        <div class="qty"><%= qty %>x</div>
      <% } %>
      <%= image %>
    </figure>
  </section>
</script>
<script type="text/template" id="chosen_scent_placeholder">
<div>
  <section class="col-lg-4 col-sm-5 box-counter">
    <figure>
    	<img src="{{ 'images/scent-placeholder.png' | asset_url}}" class="img-responsive">
    </figure>
  </section>
</div>
</script>
{# END ITEM TEMPLATE STEP 3B #}

{# ITEM TEMPLATE STEP 4 - ADDONS #}
<script type="text/template" id="addon_template">
 <section class="b-product col-sm-4 col-xs-12 subscribe_addon  out_of_stock_<%= outofstock %>_<%= outofstock_purchase %>">
    <figure>
    	<%= image %>
  	</figure>
    <hgroup>
      <h3 class="heading"><%= name %><span class="hlight"><%= price %></span></h3>
      <h4 class="p-title"><%= description %></h4>
    </hgroup>
	
    <!--hide_out_stock-->
	<a href="#" class=" btn btn-default btn-frame btn-md btn-addon-select <%= selected == true ? "btn-subscription-selected": "" %>"><i class="icon footprint"></i> 
    	{{selected}}<%= selected == true ? "Added" : "Add" %>
  	</a>
	<!--<a class="show_out_stock"><img src="{{ 'images/out-of-stock.png' | asset_url }}" /></a>-->
    <input type='hidden' class='addon_id' value='<%= id %>' />
  </section>
</script>
{# END ITEM TEMPLATE STEP4 #}


{% endblock %}

{% block page_javascript %}
<script type="text/javascript">
  
  jQuerySafe('.subscribe_btn').click(function() {
    console.log('TRACK: Subscription click next button');
    //pintrk('track', 'SubscriptionNextClick');
  });
  
  jQuerySafe('.submit-subscription').click(function() {
    console.log('TRACK: Subscription click finish button');
    //pintrk('track', 'SubscriptionFinishClick');
  });
  
 var availableProducts = [];
  {% for prod in store.shop_products(category='collection-subscription-new') %}
  {# Resolving quantity based on the appropriate tag - Defaults to '1' if not found #}
  var qty = 1; 
  {% for t in prod.taxonomy %}
  {% if 'collection-qty-' in t.slug %}
  qty = parseInt("{{ t.slug.replace('collection-qty-','') }}");
  {% endif %}
  {% endfor %}
  if (isNaN(qty)){ qty = 1; }
  {# End Resolving quantity #}
    
  {# Resolving term type (monthly, quarterly) based on the appropriate tag - Defaults to '1' if not found #}
  var term_type = 1;
  {% for t in prod.taxonomy %}
  {% if 'collection-term-' in t.slug %}
  term_type = parseInt("{{ t.slug.replace('collection-term-','') }}");
  {% endif %}
  {% endfor %}
  if (isNaN(term_type)){ term_type = 1; }
  {# End Resolving term type #}
  var product_type = 'soap';
    {% for t in prod.taxonomy %}
      {% if 'collection-haircare' in t.slug %}
      	product_type = 'hair';
      {% endif %}
    {% endfor %}
  
  var product = {
  	id: {{ prod.id }},
    term_type: term_type,
    qty: qty,
    type: product_type
  };
       
  if (product.type != 'hair') {
   availableProducts.push(product); 
  }
   
  {% endfor %}
  
  
  {# STEP 1 - Setting up available quantities #}
  var availableQuantities = [];
  availableQuantities.push({
      	name: "1 BAR ", 
    	image: '<img src="{{ "images/Soapscription-1.png" | asset_url }}" alt class="img-responsive small-monthly-icon">',
  		description: "FOR LIGHT SHOWERING, TRAVELERS",
    	price: '$6.00',
    	selected: false,
    	qty: 1
  });
  availableQuantities.push({
      	name: "2 BARS ", 
    	image: '<img src="{{ "images/Soapscription-2.png" | asset_url }}" alt class="img-responsive small-monthly-icon">',
  		description: "MOST POPULAR FOR REGULAR USE",
    	price: '$12.00',
    	selected: true,
    	qty: 2
  });
  availableQuantities.push({
      	name: "3 BARS ", 
    	image: '<img src="{{ "images/Soapscription-3.png" | asset_url }}" alt class="img-responsive small-monthly-icon">',
  		description: "MAXIMUM LATHER, SHOWER SHARING",
    	price: '$18.00',
    	selected: false,
    	qty: 3 
  });
  
  {# STEP 2 - Setting up available terms #}
  var availableTerms = [];
  availableTerms.push({
    image: '<img src="{{ "images/sub-monthly.png" | asset_url }}" alt class="img-responsive small-monthly-icon">',
    name: 'Monthly',
    description: 'Add $1 for Handling',
    term_type: 1,
    selected: false,
    display: true,
  });
  availableTerms.push({
    image: '<img src="{{ "images/sub-quarterly.png" | asset_url }}" alt class="img-responsive small-monthly-icon">',
    name: 'Quarterly',
    description: 'Max Savings',
    term_type: 3,
    selected: true,
    display: true
  });
   {# END STEP 2 #}
  
   {# STEP 3 - Setting up available Scents #}
  var availableScents = [];
  {% for prod in store.shop_products(category='collection-scent') %}
        
  	var ordering = 1; 
  	{% for t in prod.taxonomy %}
  		{% if 'collection-ordering-' in t.slug %}
  		ordering = parseInt("{{ t.slug.replace('collection-ordering-','') }}");
  		{% endif %}
  	{% endfor %}
    
  if (isNaN(ordering)){ ordering = 1; }
   
  availableScents.push({ 
    id: "{{ prod.id }}",
    name: "{{ prod.name }}",
    description: "{{ prod.description }}",
    image: '{{ prod | object_img_tag(css_class="img-responsive") }}',
    qty:0,
    outofstock:"{{  prod.instances[0].inventory.quantity_on_hand }}",
    outofstock_purchase:"{{  prod.instances[0].inventory.out_of_stock_purchases }}",
    sku: "{{ prod.instances[0].sku }}",
  	ordering: ordering});
  {% endfor %}
  
  availableScents = _.sortBy(availableScents, function(item){ return -1*item.ordering });
  
  {# END STEP 3 #}
  
  {# STEP 4 - Addons #}
  var availableAddons = [];
  // Older collectio collection-subscription-addons
   
  // Most Popular
  {% for prod in store.shop_products(category='collection-addons-most-popular') %}
  
  var ordering = 1; 
  	{% for t in prod.taxonomy %}
  		{% if 'collection-ordering-' in t.slug %}
  		ordering = parseInt("{{ t.slug.replace('collection-ordering-','') }}");
  		{% endif %}
    {% endfor %}
  
  if (isNaN(ordering)){ ordering = 1; }
     
  availableAddons.push({ 
    id: "{{ prod.id }}", 
    name: "{{ prod.name }}",
    url: "https://drsquatch.com/shop/product/{{ prod.id }}?iframe=true", 
    description: "{{ prod.description }}",
	image: '{{ prod | object_img_tag(css_class="img_responsive") }}',
    is_single_purchasable: "{{ prod.single_purchasable }}",
    price: "{% if prod.single_purchasable == False %}{{ prod.calc_min_price() | currency }}{% else %}{{ prod.calc_min_ecom_price() | currency }}{% endif %}",
    selected: false,
    outofstock:"{{  prod.instances[0].inventory.quantity_on_hand }}",
    outofstock_purchase:"{{  prod.instances[0].inventory.out_of_stock_purchases }}",
    ordering: ordering,
    category: 'most-popular'
  });
  {% endfor %}
  
  // Cologne
  {#
  {% for prod in store.shop_products(category='collection-addons-cologne') %}
  
  var ordering = 1; 
  	{% for t in prod.taxonomy %}
  		{% if 'collection-ordering-' in t.slug %}
  		ordering = parseInt("{{ t.slug.replace('collection-ordering-','') }}");
  		{% endif %}
    {% endfor %}
  
  if (isNaN(ordering)){ ordering = 1; }
     
  availableAddons.push({ 
    id: "{{ prod.id }}", 
    name: "{{ prod.name }}",
    url: "https://drsquatch.com/shop/product/{{ prod.id }}?iframe=true", 
    description: "{{ prod.description }}",
	image: '{{ prod | object_img_tag(css_class="img_responsive") }}',
    is_single_purchasable: "{{ prod.single_purchasable }}",
    price: "{% if prod.single_purchasable == False %}{{ prod.calc_min_price() | currency }}{% else %}{{ prod.calc_min_ecom_price() | currency }}{% endif %}",
    selected: false,
    outofstock:"{{  prod.instances[0].inventory.quantity_on_hand }}",
    outofstock_purchase:"{{  prod.instances[0].inventory.out_of_stock_purchases }}",
    ordering: ordering,
    category: 'cologne'
  });
  {% endfor %}
  #}
  
  // Shave
  {% for prod in store.shop_products(category='collection-addons-shave') %}
  
  var ordering = 1; 
  	{% for t in prod.taxonomy %}
  		{% if 'collection-ordering-' in t.slug %}
  		ordering = parseInt("{{ t.slug.replace('collection-ordering-','') }}");
  		{% endif %}
    {% endfor %}
  
  if (isNaN(ordering)){ ordering = 1; }
     
  availableAddons.push({ 
    id: "{{ prod.id }}", 
    name: "{{ prod.name }}",
    url: "https://drsquatch.com/shop/product/{{ prod.id }}?iframe=true", 
    description: "{{ prod.description }}",
	image: '{{ prod | object_img_tag(css_class="img_responsive") }}',
    is_single_purchasable: "{{ prod.single_purchasable }}",
    price: "{% if prod.single_purchasable == False %}{{ prod.calc_min_price() | currency }}{% else %}{{ prod.calc_min_ecom_price() | currency }}{% endif %}",
    selected: false,
    outofstock:"{{  prod.instances[0].inventory.quantity_on_hand }}",
    outofstock_purchase:"{{  prod.instances[0].inventory.out_of_stock_purchases }}",
    ordering: ordering,
    category: 'shave'
  });
  {% endfor %}
  
  // Hair Care
  {#
  {% for prod in store.shop_products(category='product-type-haircare') %}
  
  var ordering = 1; 
  	{% for t in prod.taxonomy %}
  		{% if 'collection-ordering-' in t.slug %}
  		ordering = parseInt("{{ t.slug.replace('collection-ordering-','') }}");
  		{% endif %}
    {% endfor %}
  
  if (isNaN(ordering)){ ordering = 1; }
     
  availableAddons.push({ 
    id: "{{ prod.id }}", 
    name: "{{ prod.name }}",
    url: "https://drsquatch.com/shop/product/{{ prod.id }}?iframe=true", 
    description: "{{ prod.description }}",
	image: '{{ prod | object_img_tag(css_class="img_responsive") }}',
    is_single_purchasable: "{{ prod.single_purchasable }}",
    price: "{% if prod.single_purchasable == False %}{{ prod.calc_min_price() | currency }}{% else %}{{ prod.calc_min_ecom_price() | currency }}{% endif %}",
    selected: false,
    outofstock:"{{  prod.instances[0].inventory.quantity_on_hand }}",
    outofstock_purchase:"{{  prod.instances[0].inventory.out_of_stock_purchases }}",
    ordering: ordering,
    category: 'hair'
  });
  {% endfor %}
  #}
  
  availableAddons = _.sortBy(availableAddons, function(item){ return -1*item.ordering });
  {# END STEP 4 #}


  {# Custom two step checkout #}
  availableQuantities.push({
    name: "6 BARS ", 
    image: '<img src="{{ "images/Soapscription-3.png" | asset_url }}" alt class="img-responsive small-monthly-icon">',
    description: "MAXIMUM LATHER, SHOWER SHARING",
    price: '$25.00',
    selected: true,
    qty: 6 
  });
   availableQuantities[1].selected = false;
   console.log(availableAddons);
   availableAddons[0].selected = false;
  

</script>
<script src="{{ 'js/backbone_subscription_v2.min.js' | asset_url }}"></script>
<!--<script src="{{ 'js/backbone_subscription_v2_twostep.js' | asset_url }}"></script>-->
<script>
  //Hide first two panels and start on the 3rd step
  $('.panel-group .panel.substep:nth-child(1)').hide();
  $('.panel-group .panel.substep:nth-child(2)').hide();
  $('#headingThree').removeClass('collapsed');
  $('#collapseThree').addClass('in');
  $('#headingFour').removeClass('collapsed');
  $('#collapseFour').addClass('in');
  $('#headingThree .number').text(1);
  $('#headingFour .number').text(2);
  $('#toggleThirdStep').click();
  $('.addon-most-polular').find('.btn-subscription-selected')[0].click()
</script>
{% endblock %} 
