
{# This page is inserted into the framework defined by "base.html" #}
{% extends "base.html" %}

{% block body_class %}login forgot-password{% endblock %}



{% block header_content %}

{% endblock %}



{#
	Everything inside the page_content block is inserted into the main content area
	of the page as defined by "base.html"
#}
{% block page_content %}

{% include "components/form_feedback.html" %}

<section class="headline row"> <!-- Begin headline -->
		<div class="col-sm-6 col-sm-offset-3 content text-center">
			<h1>Forgot your password?</h1>
			<p>No worries, we'll help you reset it and get back in.</p>
		</div>
</section> <!-- End headline -->

<section class="row"> <!-- Begin form -->
	<div class="col-sm-6 col-sm-offset-3 form-container">
		<form action="/customer/forgot" class="simple-form form-horizontal" method="post" accept-charset="utf-8">
			<fieldset>
				<div class="form-group control-group">
					<div class="controls">
						<input id="email" name="email" type="email" placeholder="Email address" class="form-control input-xlarge" required="">
					</div>
				</div>

				<div class="form-group control-group text-center">
					<div class="controls">
						<button id="submit" name="submit" class="btn btn-med btn-primary">Submit</button>
					</div>
			  </div>
			</fieldset>
		</form>
	</div>
</section> <!-- End form -->

{% endblock %}

