<section class="dr-squatch-vs-competition">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 center-text dr-squatch-header">
      <h2>A CLOSER LOOK</h2>
      <h1>DR SQUATCH VS. THE COMPETITION</h1>
    </div>
  </div>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 header-box beige-bg">
        <h3 class="components-title">Components</h3>
      </div>
      <div class="col-xs-4 center-text header-box dr-squatch-header-box brown-bg">
        <img src="{{ 'images/shampoo-conditioner-bottles-squatch-vs-competition.png' | asset_url }}">
        <h3>Dr. Squatch</h3>
      </div>
      <div class="col-xs-4 center-text header-box other-brands-header-box blue-bg">
        <img src="{{ 'images/other-brands-icon.svg' | asset_url }}">
        <h3>Other Brands</h3>
      </div>
    </div>
  </div>
  
  <hr/>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 content-box beige-bg">
        <h4>Surfactants</h4>
        <p>
          This is what gives the
		  shampoo it’s “lather” eﬀect
		  and what washes away the
		  dirt and grime.
        </p>
      </div>
      <div class="col-xs-4 content-box bold-text brown-bg">
        <p>
          Naturally derived from
		  coconut and other plants.
		  The most gentle lathering
		  agents available on the
		  market.
        </p>
      </div>
      <div class="col-xs-4 content-box blue-bg">
        <p>
          Contain detergents and
		  sulfates like SLS that are very
	 	  drying and can irritate the
		  skin. Even worse, when
		  combined with other
		  chemicals they can form the
		  carcinogen nitrosamines.
        </p>
      </div>
    </div>
  </div>
  
  <hr/>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 content-box beige-bg">
        <h4>Hair Fortifying Ingredients</h4>
        <p>
		  Nutrients and vitamins that
          improve the scalp and hair.
        </p>
      </div>
      <div class="col-xs-4 content-box bold-text brown-bg">
        <p>
          Nettle to strengthen hair,
          burdock root to stimulate
          growth, tea tree to repair
          dry hair and skin, clary sage
          to restore pH balance, and
          much more.
        </p>
      </div>
      <div class="col-xs-4 content-box blue-bg">
        <p>
          Limited or none. Often just
          includes one for marketing
          claims.
        </p>
      </div>
    </div>
  </div>

  <hr/>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 content-box beige-bg">
        <h4>Preservatives</h4>
        <p>
          Used to make product
          shelf stable and free of
          bacteria growth.
        </p>
      </div>
      <div class="col-xs-4 content-box bold-text brown-bg">
        <p>
          Citric acid is used to preserve
		  our shampoo and conditioner
		  and is a naturally derived
		  ingredient.
        </p>
      </div>
      <div class="col-xs-4 content-box blue-bg">
        <p>
          Often use parabens or
		  phthalates which are
		  powerful preservatives that
		  have been demonstrated to
		  spur the growth breast
		  cancer cells.
        </p>
      </div>
    </div>
  </div>

  <hr/>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 content-box beige-bg">
        <h4>Thickeners & Emulsiﬁers</h4>
        <p>
          Used to make the formula
          consistent in thickness and
          prevent separation.
        </p>
      </div>
      <div class="col-xs-4 content-box bold-text brown-bg">
        <p>
          Xantham Gum - a naturally
          derived plant based
          thickener is used in both our
          products.
        </p>
      </div>
      <div class="col-xs-4 content-box blue-bg">
        <p>
          Often use parabens or
          phthalates which are
          powerful preservatives that
          have been demonstrated to
          spur the growth breast
          cancer cells.
        </p>
      </div>
    </div>
  </div>
  
  <hr/>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 content-box beige-bg">
        <h4>Scent</h4>
        <p>
          Used to enhance the
		  shower experience.
        </p>
      </div>
      <div class="col-xs-4 content-box bold-text brown-bg">
        <p>
          100% plant derived essential
		  oils, fully labeled on the
		  products.
        </p>
      </div>
      <div class="col-xs-4 content-box blue-bg">
        <p>
          Unknown and zero
		  transparency.
        </p>
      </div>
    </div>
  </div>
  
  <hr/>
  
  <div class="row">
  	<div class="col-xs-12">
      <div class="col-xs-4 content-box beige-bg">
        <h4>Certiﬁcations</h4>
        <p>
          Unless certiﬁed, cosmetic
          products such as shampoo
          and conditioner are
          generally unregulated.
        </p>
      </div>
      <div class="col-xs-4 content-box bold-text brown-bg">
        <p>
          100% Natural and
          sustainability sourced
          ingredients, as certiﬁed by the
          Natural Products Association
          (NPA) product seal.
        </p>
      </div>
      <div class="col-xs-4 content-box blue-bg">
        <p>
          Not regulated. Can claim to
          be a natural product by just
          a token amount of natural
          ingredients. No veriﬁcation
          of sourcing methods.
        </p>
      </div>
    </div>
  </div>
  
  <div class="row quote-container">
  	<div class="col-xs-10 col-xs-offset-1 center-text">
      <p>
        “Even shampoos labelled as containing “all-natural ingredients” aren’t
        safe. They still contain things like DMDM hydantoin and ammonium
        laurel sulphate. Not things that sound all-natural, right? My rule is – if
        you can’t eat it, then you shouldn’t put it on (or in) your body.”
      </p>
      <div class="source">
        <p>Source:</p>
        <p>http://livelovefruit.com/12-toxic-ingredients-to-avoid-in-shampoo/</p>
      </div>
    </div>
  </div>
  
  <section id="toxic-ingredients">
    <div class="row toxic-ingredients-title-container">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="toxic-title-align-container"> 
          <span class="title-big-12">12</span>
          <div class="right-title">
            <h2>Toxic Ingredients To Avoid in</h2>
            <h2 class="bottom-row">Shampoo and Conditioner</h2>
          </div>
        </div>
      </div>
    </div>
  
 
    <div class="row toxic-item-row">
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Sodium Lauryl Sulfate (SLS)
        </h3>
        <p>
          Cancer, liver
		  damage, skin
		  rashes, depression
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Formaldehyde
        </h3>
        <p>
          Preservatie that
		  was deemed, a
		  human carcinogen
		  by the IARC
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Cocamidopropyl Betaine
        </h3>
        <p>
          Eye & skin
		  irritaiton, allergic
		  contact dermatitis
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>Triclosan</h3>
        <p>
          Skin, eye and lung
		  irritation,
		  endocrine & organ
		  disruption
        </p>
      </div>
    </div>
    
    <hr/>
    
    <div class="row toxic-item-row">
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
		  Polysorbates
        </h3>
        <p>
          Skin, eye and lung
		  irritation,
		  endocrine & organ
		  disruption
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Polyethylene Glycol (PEG)
        </h3>
        <p>
          Direct link to
		  CANCER, organ
		  system toxicity
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Potassium Sorbate
        </h3>
        <p>
          Causes skin and
		  organ system
	      toxicity
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>Phenoxyethanol</h3>
        <p>
		  Irritant of the skin,
		  eyes & lungs,
		  vomiting, contact
		  dermatitis
        </p>
      </div>
    </div>
    
    <hr/>
    
    <div class="row toxic-item-row">
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
		  Retinyl Palmitate
        </h3>
        <p>
          Carcinogen, causes
		  reproductive &
	      organ system
		  toxicity
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Dimethicone
        </h3>
        <p>
		  Irritation of the
		  skin, scalp & eyes,
		  traps impurities in
		  skin
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>
          Behentrimonium Chloride
        </h3>
        <p>
		  Damages the eyes,
		  inﬂammatory
		  agent, irritates skin
        </p>
      </div>
      <div class="col-xs-12 col-sm-3 toxic-item-box">
        <h3>Quaternium-15</h3>
        <p>
		  Contains carginogenic
		  formaldehyde, major
		  toxin to body
        </p>
      </div>
    </div>
  </section>
    
</section>