<section class="how_to_shave_section">
 <div class="row">
  <div class="col-md-12">
   <div class="heading_box" data-barley="heading_box" data-barley-editor="advance">
    <h2>
     learn how to
    </h2>
    <h1>
     wet shave
    </h1>
   </div>
  </div>
 </div>
 <div class="how_shave_box">
  <div class="row">
   <div class="col-md-4">
    <div class="shave_txt" data-barley="how_shave_box1" data-barley-editor="advance">
     <h1>
      STEP 1
     </h1>
     <p>
      Prep brush by soaking in warm water for a minute or so.
     </p>
    </div>
    <div class="shave_image">
     <div data-barley="how_shave_box1_image" data-barley-editor="image">
      <img src="{{ 'images/shave_box1.jpg' | asset_url }}"/>
     </div>
    </div>
    <div class="clr">
    </div>
   </div>
   <div class="col-md-4">
    <div class="shave_txt" data-barley="how_shave_box2" data-barley-editor="advance">
     <h1>
      STEP 2
     </h1>
     <p>
      Prep Face by applying a warm damp cloth to your face for roughly 30 seconds.
     </p>
    </div>
    <div class="shave_image">
     <div data-barley="how_shave_box2_image" data-barley-editor="image">
      <img src="{{ 'images/shave_box2.jpg' | asset_url }}"/>
     </div>
    </div>
    <div class="clr">
    </div>
   </div>
   <div class="col-md-4">
    <div class="shave_txt" data-barley="how_shave_box3" data-barley-editor="advance">
     <h1>
      STEP 3
     </h1>
     <p>
      Shake water off brush. Lather soap by moving the brush in a circular motion in the soap container
     </p>
    </div>
    <div class="shave_image">
     <div data-barley="how_shave_box3_image" data-barley-editor="image">
      <img src="{{ 'images/shave_box3.jpg' | asset_url }}"/>
     </div>
    </div>
    <div class="clr">
    </div>
   </div>
   <div class="col-md-4">
    <div class="shave_txt" data-barley="how_shave_box4" data-barley-editor="advance">
     <h1>
      STEP 4
     </h1>
     <p>
      Apply lather by using the brush in a circular motion to draw facial hair outward away from it's roots.
     </p>
    </div>
    <div class="shave_image">
     <div data-barley="how_shave_box4_image" data-barley-editor="image">
      <img src="{{ 'images/shave_box4.jpg' | asset_url }}"/>
     </div>
    </div>
    <div class="clr">
    </div>
   </div>
   <div class="col-md-4">
    <div class="shave_txt" data-barley="how_shave_box5" data-barley-editor="advance">
     <h1>
      STEP 5
     </h1>
     <p>
      Shave with the grain at a 30-45 degree angle - using the weight of the razor to shave.
     </p>
    </div>
    <div class="shave_image">
     <div data-barley="how_shave_box5_image" data-barley-editor="image">
      <img src="{{ 'images/shave_box5.jpg' | asset_url }}"/>
     </div>
    </div>
    <div class="clr">
    </div>
   </div>
   <div class="col-md-4">
    <div class="shave_txt" data-barley="how_shave_box6" data-barley-editor="advance">
     <h1>
      STEP 6
     </h1>
     <p>
      Rinse off face with cold water and apply aftershave or balm to reduce irritation and moisturize skin.
     </p>
    </div>
    <div class="shave_image">
     <div data-barley="how_shave_box6_image" data-barley-editor="image">
      <img src="{{ 'images/shave_box6.jpg' | asset_url }}"/>
     </div>
    </div>
    <div class="clr">
    </div>
   </div>
  </div>
  <div class="shave_more">
   <a href="http://guides.drsquatch.com/how-to-wet-shave-ultimate-guide" data-barley="how_shave_box_link" data-barley-editor="link" contenteditable="false" class="barley_hide_outline" target="_blank">
    learn more >
   </a>
  </div>
 </div>
</section>
