<section class="hair-care">
  <div class="row">
  	<div class="col-xs-12 hair-care-header">
    	<h2>DR SQUATCH PRESENTS</h2>
  		<h1>HAIR CARE 101</h1>
    </div>
  </div>
  <section class="hair-care-intro-section">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2 text-take-care-hair-container">
        <h3>The fact is most guys don't know how to take care of their hair.</h3>
        <p>
          Most of us just grab the biggest,
          cheapest bottle we can ﬁnd, and
          call it a day, or maybe we use a
          2-in-1 conditioner product, because
          we have no idea what conditioner
          is. We’ve been there before, but
          now we see the light.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 col-md-offset-1 image-take-care-hair-container">
        <img class="image-take-care-hair" src="{{ 'images/hair-care-image1.svg' | asset_url }}">
      </div>
    </div>
	
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      	<hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-3 image-high-ph-container">
        <img class="image-high-ph" src="{{ 'images/hair-care-high-ph.svg' | asset_url }}">
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-1 col-lg-2 text-high-ph-container">
        <p>
          The truth is that all
		  shampoos are very
          drying because they
          strip the natural oils
          on your scalp, and
          have a high pH that
          can causes irritation.
        </p>
        
      </div>
    </div>
  </section>
  
  <section id="shampooing-section">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-8 text-shampooing-container">
        <h3>
          Shampoo 2-3 times per week at most.
        </h3>
        <p>
          Using a shampoo daily is a
          recipe for disaster. All you’ll
          get in return is an irritated
          scalp and dry, brittle hair
          that easily falls out. You
          should only shampoo 2-3
          times per week at most in
          order to keep your scalp and
          hair in optimal health.
        </p>
      </div>
    </div>
  </section>
  
  <section id="curly-straight-hair-section">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 curly-straight-hair-container">
		<img src="{{ 'images/curly-hair-item.svg' | asset_url }}">
       	<div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <p>
              If you have curly hair, it can be
              even more sensitive and you may
              want to consider shampooing as
              little as one time per week.   
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0 curly-straight-hair-container">
		<img src="{{ 'images/straight-hair-item.svg' | asset_url }}">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <p>
              The straighter, more thick your
              hair is, the more you can probably
              get away with shampooing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="conditioner-section">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-5 col-md-2 col-md-offset-5 conditioner-text-container">
        <p>
          What’s an active,
		  hardworking, nature
          loving guy to do?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-5 col-md-4 col-md-offset-7 conditioner-heading-container">
        <h3>
          Obviously, he needs to
          get clean on the daily and
          that’s where conditioner
          comes into play.
        </h3>
      </div>
    </div>
  </section>
  
  <section id="dirt-sweat-oil-section">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 dirt-sweat-oil-icons-container">
	    <img class="dirt-sweat-oil-icons" src="{{ 'images/dirt-sweat-oil-icons.svg' | asset_url }}">
      	<p>
          Think of conditioner as your “daily rinse” and
	      food for your hair. The conditioner will provide
		  a gentle rinse that will help remove excess dirt,
          sweat, and oils from your scalp, but not do so
          in a way that will dry things out.
        </p>
      </div>
    </div>
	
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
      	<hr>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 text-nutrients-moisturizer-container">
        <h3>
          Use conditioner
		  for nutrients and
		  moisturizing ingredients.
        </h3>
        <p>
          Condition daily to get optimal nutrients
		  and moisturizing ingredients to your
		  scalp and hair while still feeling clean but
		  not dried out. This is the biggest reason
		  why you want to avoid a “2-in-1”
		  shampoo and conditioner product, and
		  why we decided to make them separate.
        </p>
        
      </div>
      
      <div class="col-xs-10 col-xs-offset-1 col-md-4 image-nutrients-moisturizer-container">
        <img class="image-nutrients-moisturizer" src="{{ 'images/nutrients-moisturizer-image.svg' | asset_url }}">
      </div>
      
    </div>
  </section>
  
</section>