{% extends "base.html" %}

{% block header_content %}
{% include 'static-page-css.html' %}
<section class="banner-landscape split static-page-banner" style="background-image: url('{{'images/dark-wood-bg.jpg' | asset_url }}')" data-barley="index-bg-img" data-barley-editor="bgimage">
 <div class="content text-invert text-center">
  <hgroup>
   <h1 class="heading barley_hide_outline" data-barley="terms-name" data-barley-editor="simple" contenteditable="false">
    All-Natural Soap for Men – 3,000+ Verified Reviews
   </h1>
  </hgroup>
 </div>
</section>
{% endblock %}

{% block page_content %}
<article class="hpad post barley_hide_outline" data-barley="about-content" data-barley-editor="advanced" contenteditable="false">
 <span style="line-height: 2.3; background-color: initial;">
  <h3>
  </h3>
  <p>
   All-natural soap makes you feel like a man and smell like a champion—without the harmful chemicals you’ll find in that other stuff you call soap. Join the Squatch Nation and see why so many dudes like you stand by all-natural soap made with honest, adventurous ingredients for you to lather up like you’re in the forest.
  </p>
  <h2>
   Why All-Natural Soap? What’s Wrong with Commercial Soap?
  </h2>
  <p>
   Soap making was going great—the Babylonians were doing it as far back as 2800 B.C.—until World War I, when commercial soap came into the picture. While synthetic ingredients helped to scale soap manufacturing so that bars could be mass-produced to treat soldiers’ wounds, the end product set the stage for soap to spiral into something it was never meant to become.
  </p>
  <p>
   The problem with commercial soap today is that beneficial, moisturizing glycerin is extracted and saved for higher-margin products, like lotions, creams, and salts. Big brands tend to treat soap like a bottom-of-the-barrel product, literally removing the good stuff before selling it to you. In place of natural glycerin, you’re getting non-natural fillers—some of which are potentially harmful.
  </p>
  <p>
   The U.S. Food and Drug Administration (FDA) doesn’t even allow these types of products to be called “soap.” They’re instead defined as detergents, which brands often disguise as “body bars.” If you have ever used bar soap or a body bar and thought it felt a little harsh on your skin, it was probably a detergent.
   <br>
    <br>
  </p>
  <h3>
   <b>
    Commercial Soap: The Bad Stuff
   </b>
  </h3>
  <p>
   If you see any of these ingredients in a bar of soap, stray away, friend.
  </p>
  <p>
  </p>
  <ul>
   <li>
    <p>
     <b style="background-color: initial;">
      Sodium Lauryl Sulfate (SLS) – Dries and irritates the skin. Also linked to cancer, liver damage, and depression.
     </b>
    </p>
   </li>
   <li>
    <p>
     <b style="background-color: initial;">
      Dioxane
     </b>
     <span style="background-color: initial;">
      – A contaminant and suspected carcinogen produced from sodium laureth sulfate (SLES) known to irritate the eyes, respiratory tract, and skin.
     </span>
    </p>
   </li>
   <li>
    <p>
     <b style="background-color: initial;">
      Triclosan
     </b>
     <span style="background-color: initial;">
      – Classified as a pesticide by the United States Environmental Protection Agency (EPA). Linked to bacterial resistance, weakening of the immune system, thyroid hormone imbalance, allergies, and reproductive toxicity
     </span>
    </p>
   </li>
   <li>
    <p>
     <b style="background-color: initial;">
      Parabens
     </b>
     <span style="background-color: initial;">
      – Potentially disruptive to natural hormones. Believed to mimic estrogen and contribute to decreased sperm levels in men.
     </span>
    </p>
   </li>
   <li>
    <p>
     <b style="background-color: initial;">
      Ureas
     </b>
     <span style="background-color: initial;">
      – Capable of releasing the dangerous chemical formaldehyde, a known carcinogen and environmental toxin.
     </span>
    </p>
   </li>
   <li>
    <p>
     <b style="background-color: initial;">
      Polyethylene Glycol (PEG)
     </b>
     <span style="background-color: initial;">
      – Directly linked to cancer and organ toxicity.
     </span>
    </p>
   </li>
  </ul>
  <p>
  </p>
  <p>
   <br>
  </p>
  <h3>
   <b>
    All-Natural Soap: The Good Stuff
   </b>
  </h3>
  <p>
   When you see ingredients like these, with none of the additives above, you know you’re on the right track.
  </p>
  <p>
  </p>
  <ul>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <b>
       Olive Oil
      </b>
      – Antioxidant, anti-inflammatory, and moisturizing properties in one.
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <b>
       Coconut Oil
      </b>
      – Used in the treatment of various skin conditions, including dermatitis, eczema, and psoriasis.   Hemp Oil – Helps the skin’s ability to retain moisture.
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <b>
       Essential Oils
      </b>
      – Fragrant, cleansing, and hydrating oils like lavender, cypress, and sandalwood.
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <b>
       Shea Butter
      </b>
      – Smoothing and moisturizing, with anti-inflammatory benefits.
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <b>
       Pine Tar Extract
      </b>
      – Often used to treat skin irritation and/or bug bites.
      <span style="background-color: initial;">
       The real MVP in Dr. Squatch’s woodsy, refreshing Pine Tar soap.
      </span>
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <span style="background-color: initial;">
       <b>
        Oatmeal
       </b>
       – Gently cleansing and pH balancing. An unsung hero in our
       <a href="https://drsquatch.com/shop/product/70702082">
        Pine Tar
       </a>
       soap.
      </span>
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <span style="background-color: initial;">
       <b>
        Oak Moss
       </b>
       – An earthy, rustic base note than can be found in our
       <a href="https://drsquatch.com/shop/product/70701905" target="_blank">
        Gold Moss Scrub
       </a>
       .
      </span>
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <span style="background-color: initial;">
       <b>
        Sea Salt
       </b>
       – A subtle, affordable means of using salt as a scrub for its many skin benefits.
      </span>
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <span style="background-color: initial;">
       <b>
        Sage –
       </b>
       Known for increasing pulmonary circulation.
       <a href="https://drsquatch.com/shop/product/112874164" target="_blank">
        Discover sage soap here
       </a>
       .
      </span>
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <span style="background-color: initial;">
       <b>
        Mint
       </b>
       – Believed to reduce acne and breakouts. We use mint leaves in our
       <a href="https://drsquatch.com/shop/product/70701388" target="_blank">
        Spearmint Basil Scrub
       </a>
       .
      </span>
     </p>
    </span>
   </li>
   <li>
    <span style="line-height: 2.3; background-color: initial;">
     <p>
      <span style="background-color: initial;">
       <b>
        Sand
       </b>
       – An underrated natural exfoliant that is as refreshing as a day at the beach.
      </span>
     </p>
    </span>
   </li>
  </ul>
  <p>
  </p>
  <h3>
   <span style="background-color: initial;">
    <b>
     <br>
      Raising the Bar for All-Natural Soap
    </b>
   </span>
  </h3>
  <p>
   <span style="background-color: initial;">
    Dr. Squatch has been perfecting the science of all-natural soapmaking since its humble beginnings, when our founder, Jack, began creating his own recipes out of his garage. We make soap the right way: by hand, using the traditional cold process to retain the glycerin and nutrients in each bar without the need for harsh preservatives. Step up your shower with manly, natural scents delivered to your door. Shop our all-natural soap today.
   </span>
  </p>
 </span>
</article>
{% endblock %}
