{% extends "base.html" %}

{% block header_content %}
{% include 'static-page-css.html' %}
<section class="banner-landscape split static-page-banner" style="background-image: url('{{'images/dark-wood-bg.jpg' | asset_url }}')" data-barley="index-bg-img" data-barley-editor="bgimage">
 <div class="content text-invert text-center">
  <hgroup>
   <h1 class="heading barley_hide_outline" data-barley="terms-name" data-barley-editor="simple" contenteditable="false">
    Best Bar Soap for Dry Skin
   </h1>
  </hgroup>
 </div>
</section>
{% endblock %}

{% block page_content %}
<article class="hpad post barley_hide_outline" data-barley="about-content" data-barley-editor="advanced" contenteditable="false">
 <span style="line-height: 2.3; background-color: initial;">
  <h3>
  </h3>
  <p>
   You’ve finally found it—the best bar soap for dry skin.Dr. Squatch soap makes you feel and smell like a champion, without the harmful chemicals you’ll find in that other stuff you call soap. If you think your soap might be causing or aggravating your dry skin, join Squatch Nation and give our all-natural soap a try.
  </p>
  <h2>
   Why All-Natural Soap? What’s Wrong with Commercial Soap?
  </h2>
  <p>
   <b>
   </b>
   Soapmaking was going great—the Babylonians were doing it as far back as2800 B.C.—until World War I, when commercial soap came into the picture. While synthetic ingredients helped to scale soap manufacturing so that bars could be mass-produced to treat soldiers’ wounds, the end product set the stage for soap to spiral into something it was never meant to become.
  </p>
  <p>
   The problem with commercial soap today is that beneficial, moisturizing glycerinis extracted and saved for higher-margin products, like lotions, creams, and salts. Big brands tend to treat soap like a bottom-of-the-barrel product, literally removing the good stuff before selling it to you. In place of natural glycerin, you’re gettingnon-natural fillers—some of which are potentially harmful.
  </p>
  <p>
   The U.S. Food and Drug Administration (FDA) doesn’t even allow these types of products to be called “soap.” They’re instead defined as detergents, which brands often disguise as “body bars.” If you have ever used bar soap or a body bar and thought that it felt a little harsh on your skin, it was probably a detergent.
  </p>
  <h2>
   Commercial Soap: The Bad Stuff
  </h2>
  <p>
   If you see any of these ingredients in a bar of soap, stray away, friend.
  </p>
  <p>
   <b>
    Sodium Lauryl Sulfate (SLS) –
   </b>
   Dries and irritates the skin. Also linked to cancer, liver damage, and depression.
  </p>
  <p>
   <b>
    Dioxane
   </b>
   – A contaminant and suspected carcinogen produced from sodium laureth sulfate (SLES) known to irritate the eyes, respiratory tract, and skin.
  </p>
  <p>
   <b>
    Triclosan –
   </b>
   Classified as a pesticide by the United States Environmental Protection Agency (EPA). Linked to bacterial resistance, weakening of the immune system, thyroid hormone imbalance, allergies, and reproductive toxicity.
  </p>
  <p>
   <b>
    Parabens
   </b>
   – Potentially disruptive to natural hormones. Believed to mimic estrogen and contribute to decreased sperm levels in men.
  </p>
  <p>
   <b>
    Ureas
   </b>
   – Capable of releasing the dangerous chemical formaldehyde, a known carcinogen and environmental toxin.
  </p>
  <p>
   <b>
    Polyethylene Glycol (PEG)
   </b>
   – Directly linked to cancer and organ toxicity.
  </p>
  <h2>
   All-Natural Soap: The Good Stuff
  </h2>
  <p>
   Olive Oil – Antioxidant, anti-inflammatory, and moisturizing properties in one.
  </p>
  <p>
   <span style="background-color: initial;">
    Coconut Oil – Used in the treatment of various skin conditions, including dermatitis, eczema, and psoriasis.
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Hemp Oil – Helps the skin’s ability to retain moisture.   Essential Oils – Fragrant, cleansing, and hydrating oils like lavender, cypress, and sandalwood.   Shea Butter – Smoothing and moisturizing, with anti-inflammatory benefits.
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Pine Tar Extract – Often used to treat skin irritation and/or bug bites. The real MVP in Dr. Squatch’s woodsy, refreshing Pine Tar soap.   Oatmeal – Gently cleansing and pH balancing. An unsung hero in our
    <a href="http://www.drsquatch.com/shop/product/70702082?_ga=2.28135740.1070093823.1551044178-46baada2-15fa-4c05-bbe6-d3425837f55a">
     Pine Tar
    </a>
    soap.
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Oak Moss – An earthy, rustic base note than can be found in our
    <a href="https://drsquatch.com/shop/product/70701905?_ga=2.51288489.1070093823.1551044178-46baada2-15fa-4c05-bbe6-d3425837f55a" target="_blank">
     Gold Moss Scrub
    </a>
    .
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Sea Salt – A subtle, affordable means of using salt as a scrub for its many skin benefits.
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Sage – Known for increasing pulmonary circulation.
    <a href="https://drsquatch.com/shop/product/112874164?_ga=2.28135740.1070093823.1551044178-46baada2-15fa-4c05-bbe6-d3425837f55a" target="_blank">
     Discover sage soap here
    </a>
    .
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Mint – Believed to reduce acne and breakouts. We use mint leaves in our
    <a href="https://drsquatch.com/shop/product/70701388" target="_blank">
     Spearmint Basil Scrub
    </a>
    .
   </span>
  </p>
  <p>
   <span style="background-color: initial;">
    Sand – An underrated natural exfoliant that is as refreshing as a day at the beach.
   </span>
  </p>
  <h2>
   <span style="background-color: initial;">
    Raising the Bar for All-Natural Soap
   </span>
  </h2>
  <p>
   <span style="background-color: initial;">
    Dr. Squatch has been perfecting the science of all-natural soapmaking since its humble beginnings, when our founder, Jack, began creating his own recipes out of his garage. We make soap the right way: by hand, using the traditional cold process to retain the glycerin and nutrients in each bar without the need for harsh preservatives. Step up your shower with manly, natural scents delivered to your door. Shop our all-natural soap today.
   </span>
  </p>
 </span>
</article>
{% endblock %}
