{% extends "base.html" %}

{% block header_content %}
<section class="banner-landscape centered landscape-1" style="background-image: url('{{'images/banner-landscape-37.jpg' | asset_url }}')" data-barley="bg-img-charity" data-barley-editor="bgimage">
 <div class="content text-invert" style="width:90%;">
  <div data-barley="charity-headline" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
  </div>
 </div>
</section>
{% endblock %}


{% block page_content %}
<article class="pholder hpad post">
 <div data-barley="charity-content" data-barley-editor="plus" contenteditable="false" class="barley_hide_outline">
  <h2>
   <figure>
    <span style="line-height: 32.2px;">
     Dr. Squatch + Water For People = 10FOR10
    </span>
   </figure>
  </h2>
  <figure>
   <span style="line-height: 32.2px;">
    Let's face it, water is a pretty essential part of showering and its near and dear to our hearts.  We also recognize that billions of people around the world don't have access to clean water.  That's why we decided to partner with the amazing charity Water For People to give back this holiday season.  We'll be
    <b>
     donating 10% of our profits to Water For People
    </b>
    to help provide clean water to those who need it most.
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    <br>
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    We also want to give back to our loyal supporters, so we're also giving you a discount.
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    Just use this coupon code at checkout:
    <b>
     10FOR10
    </b>
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    <p>
     <br>
    </p>
   </span>
  </figure>
  <h2>
   <figure>
    <span style="line-height: 32.2px;">
     About Water For People
    </span>
   </figure>
  </h2>
  <figure>
   <span style="line-height: 32.2px;">
    <a href="https://www.waterforpeople.org/about#mission">
     1.8 billion people around the world
    </a>
    don't have access to safe water and 2.4 billion lack access to adequate sanitation. Women and children spend more than 4 hours walking for water each day, and more than 840,000 people die each year from water-related diseases.
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    <br>
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    That's why
    <a href="https://www.waterforpeople.org/">
     Water for People
    </a>
    is here to change that. They want to see communities break free from the cycle of poverty and spend time growing, learning, and thriving, instead of walking for water and fighting off illness. And that's why we feel so great about partnering with this incredible organization.
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    <br>
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    We know water is so fundamental to the human experience, and we want to make sure everyone has access to this basic and nourishing element. And that's why 10% of all sales this weekend will go toward this great cause. So do your part, and pick up some soap and give a little hope.
   </span>
  </figure>
  <figure>
   <span style="line-height: 32.2px;">
    <br>
   </span>
   <img src="//s3.amazonaws.com/cratejoy_vendor_images/drsquatchsoapco/joybox_men-copy-1/images/ar-infographic22.jpg?ts=1448491582&host=drsquatch.cratejoy.com" alt class="img-responsive center-block">
   </img>
  </figure>
 </div>
</article>
{% endblock %}
