{% extends "base.html" %}

{% block header_content %}
{% include 'static-page-css.html' %}
<section class="banner-landscape split static-page-banner" style="background-image: url('{{'images/dark-wood-bg.jpg' | asset_url }}')" data-barley="index-bg-img" data-barley-editor="bgimage">
 <div class="content text-invert text-center">
  <hgroup>
   <h1 class="heading barley_hide_outline" data-barley="terms-name" data-barley-editor="simple" contenteditable="false">
    Dr Squatch Customer Reviews
   </h1>
  </hgroup>
 </div>
</section>
{% endblock %}

{% block page_content %}
<article class="hpad post barley_hide_outline" data-barley="about-content" data-barley-editor="advanced" contenteditable="false">

<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/rovsuhtR01AOZ8Vl90zCBkGot9h5DML2IsoJ9tn3/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
<div id='yotpo-testimonials-custom-tab'></div>
  
</article>
{% endblock %}
