{% extends "base.html" %}

{% block header_content %}
<section class="banner-landscape centered landscape-1" style="background-image: url('{{'images/banner-landscape-43.jpg' | asset_url }}')" data-barley="bg-img-charity" data-barley-editor="bgimage">
 <div class="content text-invert" style="width:90%;">
  <div data-barley="charity-headline" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
   <h1>
    Military Appreciation Discounts
   </h1>
  </div>
 </div>
</section>
{% endblock %}


{% block page_content %}
<article class="pholder hpad post">
 <div data-barley="charity-content" data-barley-editor="plus" contenteditable="false" class="barley_hide_outline">
  <h2>
   <figure>
    Dr. Squatch Military Discounts - 15% Off
   </figure>
   <figure>
    <span style="font-size: 14px;">
     We're proud that our products are made in this great country.
    </span>
   </figure>
   <figure>
    <span style="font-size: 14px; color: inherit; font-family: inherit; background-color: initial;">
     That's why we're proud to honor those who help defend it.  At Dr. Squatch we honor those who have made sacrifices to keep this country safe.   It's a small gesture compared to the sacrifices made by other but in honor, we're offering 15% off all orders.
    </span>
    <br>
   </figure>
   <figure>
    <span style="font-size: 14px; color: inherit; font-family: inherit; background-color: initial;">
     <br>
    </span>
   </figure>
   <figure>
    <span style="font-size: 14px;">
     Verify your status by clicking the button below to receive a special discount code for 15% off at Dr. Squatch.
    </span>
   </figure>
   <figure>
    <span style="font-size: 14px;">
     <br>
    </span>
   </figure>
  </h2>
  <img class="gr_verify" src="https://cdn.id.services/m/i/halfciv.png" style="cursor: pointer;">
   <figure>
    <span style="line-height: 32.2px;">
     <p>
      <b style="background-color: initial;">
      <br>
     </p>
     <p>
      <br>
     </p>
    </span>
   </figure>
   <figure>
   </figure>
  </img>
 </div>
</article>
{% endblock %}
