{% extends "base.html" %}

{% block header_content %}
{% include 'static-page-css.html' %}
<section class="banner-landscape split static-page-banner" style="background-image: url('{{'images/dark-wood-bg.jpg' | asset_url }}')" data-barley="index-bg-img" data-barley-editor="bgimage">
 <div class="content text-invert text-center">
  <hgroup>
   <h1 class="heading barley_hide_outline" data-barley="terms-name" data-barley-editor="simple" contenteditable="false">
    Soap for Psoriasis
   </h1>
  </hgroup>
 </div>
</section>
{% endblock %}

{% block page_content %}
<article class="hpad post barley_hide_outline" data-barley="about-content" data-barley-editor="advanced" contenteditable="false">
 <span style="line-height: 2.3; background-color: initial;">
  <h3>
  </h3>
  <p>
   You’ve finally found it—the best soap for psoriasis.Dr. Squatch soap makes you feel and smell like a champion, without the harmful chemicals you’ll find in that other stuff you call soap. If you think your soap might be causing or aggravating your psoriasis, join Squatch Nation and give our all-natural soap a try.
  </p>
  <p>
   <b>
    Why All-Natural Soap? What’s Wrong with Commercial Soap?
   </b>
  </p>
  <p>
   <b>
   </b>
   Soap making was going great—the Babylonians were doing it as far back as 2800 B.C.—until World War I, when commercial soap came into the picture. While synthetic ingredients helped to scale soap manufacturing so that bars could be mass-produced to treat soldiers’ wounds, the end product set the stage for soap to spiral into something it was never meant to become.
  </p>
  <p>
   The problem with commercial soap today is that beneficial, moisturizing glycerin is extracted and saved for higher-margin products, like lotions, creams, and salts. Big brands tend to treat soap like a bottom-of-the-barrel product, literally removing the good stuff before selling it to you. In place of natural glycerin, you’re getting non-natural fillers—some of which are potentially harmful even beyond psoriasis.
  </p>
  <p>
   The U.S. Food and Drug Administration (FDA) doesn’t even allow these types of products to be called “soap.” They’re instead defined as detergents, which brands often disguise as “body bars.” If you have ever used bar soap or a body bar and had a psoriasis flare-up shortly after, it was probably a detergent.
  </p>
  <p>
   Commercial Soap: The Bad Stuff
  </p>
  <p>
   If you see any of these ingredients in a bar of soap, stray away, friend.
  </p>
  <p>
  </p>
  <ul>
   <li>
    <p>
     <span style="background-color: initial;">
      Sodium Lauryl Sulfate (SLS) – Dries and irritates the skin. Also linked to cancer, liver damage, and depression.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Dioxane – A contaminant and suspected carcinogen produced from sodium laureth sulfate (SLES) known to irritate the eyes, respiratory tract, and skin.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Triclosan – Classified as a pesticide by the United States Environmental Protection Agency (EPA). Linked to bacterial resistance, weakening of the immune system, thyroid hormone imbalance, allergies, and reproductive toxicity.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Parabens – Potentially disruptive to natural hormones. Believed to mimic estrogen and contribute to decreased sperm levels in men.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Ureas – Capable of releasing the dangerous chemical formaldehyde, a known carcinogen and environmental toxin.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Polyethylene Glycol (PEG) – Directly linked to cancer and organ toxicity.
     </span>
     <br>
    </p>
   </li>
  </ul>
  <span style="background-color: initial;">
   All-Natural Soap: The Good Stuff
  </span>
  <p>
  </p>
  <p>
   <span style="background-color: initial;">
    When you see ingredients like these, with none of the additives above, you know you’ve found the best soap for psoriasis and other skin conditions.
   </span>
   <br>
  </p>
  <p>
  </p>
  <ul>
   <li>
    <p>
     <span style="background-color: initial;">
      Olive Oil – Antioxidant, anti-inflammatory, and moisturizing properties in one.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Coconut Oil – Used in the treatment of various skin conditions, including dermatitis, eczema, and psoriasis.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Hemp Oil – Helps the skin’s ability to retain moisture.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Essential Oils – Fragrant, cleansing, and hydrating oils like lavender, cypress, and sandalwood.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Shea Butter – Smoothing and moisturizing, with anti-inflammatory benefits.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Pine Tar Extract – Often used to treat skin irritation and/or bug bites. The real MVP in Dr. Squatch’s woodsy, refreshing
      <a href="https://drsquatch.com/shop/product/70702082" target="_blank">
       Pine Tar
      </a>
      soap.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Oatmeal – Gently cleansing and pH balancing. An unsung hero in our Pine Tar soap.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Oak Moss – An earthy, rustic base note than can be found in our
      <a href="https://drsquatch.com/shop/product/70701905" target="_blank">
       Gold Moss Scrub
      </a>
      .
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Sea Salt – A subtle, affordable means of using salt as a scrub for its many skin benefits.
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Sage – Known for increasing pulmonary circulation. Discover
      <a href="https://drsquatch.com/shop/product/112874164" target="_blank">
       sage soap here
      </a>
      .
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Mint – Believed to reduce acne and breakouts. We use mint leaves in our
      <a href="https://drsquatch.com/shop/product/70701388" target="_blank">
       Spearmint Basil Scrub
      </a>
      .
     </span>
    </p>
   </li>
   <li>
    <p>
     <span style="background-color: initial;">
      Sand – An underrated natural exfoliant that is as refreshing as a day at the beach.
     </span>
     <br>
    </p>
   </li>
  </ul>
  <h2>
   <span style="background-color: initial;">
    Raising the Bar for All-Natural Soap
   </span>
  </h2>
  <p>
  </p>
  <p>
   <span style="background-color: initial;">
    Dr. Squatch has been perfecting the science of all-natural soap making since its humble beginnings, when our founder, Jack, began creating his own recipes out of his garage. We make soap the right way: by hand, using the traditional cold process to retain the glycerin and nutrients in each bar without the need for harsh preservatives. Step up your shower with manly, natural scents delivered to your door. Shop our all-natural soap today.
   </span>
   <br>
  </p>
 </span>
</article>
{% endblock %}
