{% import "collections/generic.html" as cg %}
{% extends "base.html" %}

{# block header_content %}
<section class="banner-landscape split landscape-8">
 <div class="col-lg-offset-6 col-lg-5 col-sm-offset-5 col-sm-7 content text-invert text-center">
  <div data-barley="collection-cologne-header" data-barley-editor="advanced">
   <br>
    <br>
     <hgroup>
      <h1 class="heading">
       COLOGNE
      </h1>
      <h2 class="heading regular">
       ACCENTUATE YOURSELF, NATURALLY
      </h2>
     </hgroup>
     <p class="vspace">
      You’ve worked hard to develop those natural pheremones over the years. Don’t smother it with an Axe bomb, instead accentuate it with organic and wildcrafted oils.
     </p>
  </div>
 </div>
 <div class="overlay row hpad">
  <div class="col-md-4 col-lg-offset-2 col-sm-2 col-md-offset-1 col-sm-offset-2 hidden-xs" data-barley="cologne-bg" data-barley-editor="image">
   <img src="{{ 'images/Cologne-Collection-xxl.png' | asset_url }}" alt class="img-responsive">
   </img>
  </div>
 </div>
</section>
{% endblock #} 

{% block header_content %}
<section class="banner-landscape split collection-fix landscape-19">
 <div class="col-sm-5 col-sm-offset-1 row hpad hidden-xs content">
  <br>
   <br>
    <div class="barley_hide_outline" data-barley="cologne-bg1" data-barley-editor="image" contenteditable="false">
     <img src="{{ 'images/Both_Cologne_New-4.png' | asset_url }}" alt class="img-responsive"/>
    </div>
 </div>
 <div class="col-sm-5 content text-invert text-center barley_hide_outline" data-barley="collection-cologne-header1" data-barley-editor="advanced" contenteditable="false">
  <br>
   <br>
    <hgroup>
     <h1 class="heading metropolis-semi-bold">
      COLOGNE
     </h1>
     <h3 class="heading metropolis-semi-bold">
      ACCENTUATE YOURSELF, NATURALLY
     </h3>
    </hgroup>
    <p class="vspace">
     You’ve worked hard to develop those natural pheremones over the years. Don’t smother it with an Axe bomb, instead accentuate it with organic and wildcrafted oils.
    </p>
 </div>
</section>
{% endblock %}  

{% block page_content %}
{{ cg.render_collection_page_content(tag_filter='collection-cologne', show_soapscribe=False, show_quiz=False) }}
{% endblock %}

{% block page_javascript %}
<script src="{{ 'js/reviews-excerpt.js' | asset_url }}">
</script>
{% endblock %}
