{% import "collections/generic.html" as cg %}
{% extends "base.html" %}

{# block header_content %}
<section class="banner-landscape split landscape-8">
 <div class="col-lg-offset-6 col-lg-5 col-sm-offset-5 col-sm-7 content text-invert text-center">
  <div data-barley="collection-cologne-header" data-barley-editor="advanced" contenteditable="false" class="barley_hide_outline">
   <br>
    <br>
     <hgroup>
      <h1 class="heading">
       hair care
      </h1>
      <h2 class="heading regular">
       100% Natural Npa certified
      </h2>
     </hgroup>
     <p class="vspace">
      Guys, for too long we’ve been lathering up with harsh detergents. That’s why we came up with our Shampoo and Conditioner that contains 100% naturally-derived ingredients and is infused with hair strengthening plants and herbs.
     </p>
  </div>
 </div>
 <div class="overlay row hpad">
  <div class="col-md-4 col-lg-offset-2 col-sm-2 col-md-offset-1 col-sm-offset-2 hidden-xs barley_hide_outline" data-barley="cologne-bg" data-barley-editor="image" contenteditable="false">
   <img src="{{ 'images/s&c-2.png' | asset_url }}" alt class="img-responsive"/>
  </div>
 </div>
</section>
{% endblock #} 

{% block header_content %}
<section class="banner-landscape split collection-fix landscape-19">
 <div class="col-sm-5 col-sm-offset-1 row hpad hidden-xs content">
   <br>
   <br>
  <div class="" data-barley="cologne-bg" data-barley-editor="image">
   <img src="{{ 'images/s&c-2.png' | asset_url }}" alt class="img-responsive">
  </div>
 </div>
 <div class="col-sm-5 content text-invert text-center barley_hide_outline" data-barley="collection-cologne-header" data-barley-editor="advanced" contenteditable="false">
  <br>
   <br>
    <hgroup>
       <h1 class="heading metropolis-semi-bold">
         HAIR CARE
       </h1>
        <h3 class="heading metropolis-semi-bold">
        100% Natural NPA certified
       </h3>
     </hgroup>
   <p class="vspace">
     Guys, for too long we’ve been lathering up with harsh detergents. That’s why we came up with our Shampoo and Conditioner that contains 100% naturally-derived ingredients and is infused with hair strengthening plants and herbs.
   </p>
 </div>
</section>
{% endblock %}  

{% block page_content %}
{{ cg.render_collection_page_content(tag_filter='product-type-haircare', show_soapscribe=False, show_quiz=False) }}
{% endblock %}

{% block page_javascript %}
<script src="{{ 'js/reviews-excerpt.js' | asset_url }}">
</script>
{% endblock %}
